.adblock {
  border-radius: 20px;
  overflow: hidden;
}

.adblock-1240x110 {
  width: 1240px;
  height: 110px;

  @include vp-767 {
    display: none;
  }
}

.adblock-925x110 {
  width: 925px;
  height: 110px;
  margin-bottom: 28px;

  &--index {
    margin-bottom: 21px;
  }
}

.adblock-760x110 {
  width: 760px;
  height: 110px;
  margin-bottom: 20px;
}

.adblock-360x430 {
  width: 360px;
  height: 430px;
}

.adblock-295x430 {
  width: 295px;
  height: 430px;
}

.adblock-220x320 {
  width: 220px;
  height: 320px;
  border-radius: 15px;
  overflow: hidden;
}

.adblock-290x76 {
  display: none;

  @include vp-767 {
    display: block;
  }
}
