.catalog {
  background-color: #1A1D24;
  border: 1px solid #2D3341;
  border-radius: 10px;
  margin-top: 20px;
  padding: 60px 40px 30px;
}

.catalog__headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  h2 {
    @include font-settings (700, 35px, 1);
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
}

.catalog__btn-wrapper {
  display: flex;
}

.catalog__view-btn {
  width: 47px;
  height: 47px;
  background-color: #262931;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  cursor: pointer;

  &--tiles {
    margin-right: 9px;
  }

  &--list {
    margin-right: 17px;
  }

  &:hover,
  &.active {
    background-color: #535761;
  }
}

.catalog__add-btn {
  @include font-settings (500, 14px, 1);
  min-width: 190px;
  background-color: $color-accent;
  border: none;
  border-radius: 10px;
  color: $color-default-black;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;

  svg {
    fill: $color-default-black;
    margin-right: 5px;
  }

  &:hover {
    background-color: $color-accent-hover;
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__content {
  display: grid;
  grid-template-columns: auto 360px;
  column-gap: 40px;
  row-gap: 15px;
}

.catalog__list {
  display: flex;

  &--tile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--list {
    flex-direction: column;

    .catalog__item {
      max-width: 100%;
    }

    .catalog__card {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .catalog__cover {
      display: none;
    }

    .catalog__logo-block {
      order: -1;
      margin-right: 20px;
    }

    .catalog__title {
      justify-content: flex-start;
    }

    .catalog__info-block {
      justify-content: flex-start;
    }

    .catalog__rating {
      order: -1;
      margin-right: 45px;
    }

    .catalog__text-block {
      min-width: 100%;
    }
  }
}

.catalog__item {
  max-width: 360px;
  margin-bottom: 20px;
}

.catalog__card {
  background-color: #262931;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 0px 20px rgba(10, 57, 184, 0.25);
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  margin-bottom: 20px;

  h3 {
    @include font-settings (700, 20px, 1.74);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    z-index: 10;
  }
}

.catalog__company-link {
  z-index: 10;
}

.catalog__cover {
  position: absolute;
  top: -10px;
  left: 2px;
  width: 100%;
  max-width: 320px;
  max-height: 73px;
  border-radius: 20px;
  overflow: hidden;

  img {
    max-width: 320px;
    max-height: 73px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(20, 22, 27, 0.7);
  }
}

.catalog__logo-block {
  width: 111px;
  height: 53px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 10;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.catalog__info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.catalog__link {
  @include font-settings (500, 14px, 1.5);
  display: block;
  padding-left: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: url("../img/svg/globe.svg");
    top: 4px;
    left: 2px;
    width: 14px;
    height: 14px;
  }
}

.catalog__rating {
  display: flex;
  align-items: center;

  p {
    @include font-settings (400, 14px, 1.5);
    margin-right: 6px;
  }
}

.catalog__text-block {
  p {
    @include font-settings (400, 14px, 1.5);
    opacity: 0.5;
  }
}
