.catalog {
  background-color: #1A1D24;
  border: 1px solid #2D3341;
  border-radius: 10px;
  margin-top: 20px;
  padding: 52px 40px 20px;
}

.catalog__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding-right: 5px;

  h2 {
    @include font-settings ($ff-inter, 700, 35px, 1);
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
}

.catalog__btn-wrapper {
  display: flex;
}

.catalog__view-btn {
  width: 47px;
  height: 47px;
  background-color: #262931;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  cursor: pointer;

  &--tiles {
    margin-right: 9px;
  }

  &--list {
    margin-right: 17px;
  }

  &:hover,
  &.active {
    background-color: #535761;
  }
}

.catalog__add-btn {
  @include font-settings ($ff-inter, 500, 14px, 1);
  min-width: 190px;
  background-color: $color-accent;
  border: none;
  border-radius: 10px;
  color: $color-default-black;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 22px 12px 16px;
  cursor: pointer;

  svg {
    fill: $color-default-black;
    margin-right: 12px;
  }

  &:hover {
    background-color: $color-accent-hover;
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__content {
  display: grid;
  grid-template-columns: auto 360px;
  column-gap: 40px;
  row-gap: 15px;
}

.catalog__list {
  display: flex;

  &--tile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--list {
    flex-direction: column;

    .catalog__item {
      max-width: 100%;
      margin-bottom: 19px;
    }

    .catalog__card {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 22px 17px 5px 5px;
    }

    .catalog__cover {
      display: none;
    }

    .catalog__logo-block {
      order: -1;
      margin-right: 20px;
    }

    .catalog__title {
      justify-content: flex-start;
      margin-bottom: 8px;
    }

    .catalog__info-block {
      justify-content: flex-start;
      padding-top: 10px;
    }

    .catalog__rating {
      order: -1;
      margin-right: 45px;
    }

    .catalog__text-block {
      min-width: 100%;
      padding: 0 12px;
    }
  }
}

.catalog__item {
  max-width: 360px;
  margin-bottom: 24px;
}

.catalog__card {
  background-color: #262931;
  border-radius: 20px;
  padding: 30px 20px 12px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 0px 20px rgba(10, 57, 184, 0.25);
  }

  &:active {
    opacity: 0.6;
  }
}

.catalog__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  margin-bottom: 19px;

  h3 {
    @include font-settings ($ff-inter, 700, 20px, 1.74);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    z-index: 10;
  }
}

.catalog__company-link {
  z-index: 10;
}

.catalog__cover {
  position: absolute;
  top: -10px;
  left: 2px;
  width: 100%;
  max-width: 320px;
  max-height: 73px;
  border-radius: 20px;
  overflow: hidden;

  img {
    max-width: 320px;
    max-height: 73px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(20, 22, 27, 0.7);
  }
}

.catalog__logo-block {
  max-width: 111px;
  height: 53px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 13px;
  z-index: 10;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.catalog__info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.catalog__link {
  @include font-settings ($ff-inter, 500, 14px, 1.5);
  display: block;
  padding-left: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: url("../img/svg/globe.svg");
    top: 4px;
    left: 2px;
    width: 14px;
    height: 14px;
  }
}

.catalog__rating {
  display: flex;
  align-items: center;

  p {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    margin-right: 10px;
  }

  svg:last-of-type {
    margin-right: 0;
  }
}

.catalog__text-block {
  p {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    opacity: 0.5;
    margin-bottom: 10px;
  }

  h2 {
    @include font-settings ($ff-inter, 700, 20px, 1.5);
    opacity: 0.5;
  }

  h3 {
    @include font-settings ($ff-inter, 700, 18px, 1.5);
    opacity: 0.5;
  }

  h4 {
    @include font-settings ($ff-inter, 400, 16px, 1.5);
    opacity: 0.5;
  }

  ul,
  ol {
    margin: 0 0 10px;
    padding: 0 0 0 23px;
  }

  li {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    opacity: 0.5;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }

  a {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    font-style: normal;
    color: $color-accent;
    text-decoration: underline;
    margin-bottom: 12px;
  }

  code {
    @include font-settings ($ff-incon, 400, 14px, 1.5);
    color: $color-default-black;
    background-color: #F8F9FA;
    border-radius: 4px;
    padding: 5px 7px;
  }

  pre {
    opacity: 0.5;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  blockquote {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    opacity: 0.5;
    padding-left: 16px;
    border-left: 2px solid #DEE2E6;
    margin: 10px 0;
  }

  hr {
    margin: 12px 0;
    background-color: #DEE2E6;
  }
}

.catalog__show-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 47px;
  background-color: #262931;
  border: none;
  border-radius: 10px;
  color: $color-default-white;
  cursor: pointer;

  span {
    @include font-settings ($ff-inter, 500, 14px, 1);
  }

  svg {
    margin-right: 17px;
  }

  &:hover {
    background-color: #76777C;
    color: $color-default-white;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog__filters.filters {
  padding: 25px 20px 15px;

  .filters__reset-btn {
    top: 27px;
    right: 16px;
  }

  .filters__group {
    padding-top: 11px;
  }

  h3 {
    margin-bottom: 11px;
  }

  .filters__search {
    margin-bottom: 23px;
  }

  .filters__list {
    margin-bottom: 23px
  }

  .filters__group.select {
    border: none;
  }

  .select__title {
    @include font-settings ($ff-inter, 400, 14px, 1.1);
    opacity: 0.5;
    margin-bottom: 11px;
  }

  .filters__submit-btn {
    margin-top: 10px;
  }
}
