.comment {
  width: 100%;
  min-height: 372px;
  display: grid;
  grid-template-columns: 170px auto;
  background-color: #262931;
  border: 1px solid #2D3341;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 19px;
}

.comment__user-block {
  padding-right: 4px;
  border-right: 1px solid #32343C;
}

.comment__user-image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 9px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.comment__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-right: 15px;
}

.comment__user-name {
  @include font-settings ($ff-inter, 700, 16px, 1);
  margin-bottom: 8px;
}

.comment__user-status {
  @include font-settings ($ff-inter, 400, 16px, 1);
  color: $color-accent;
  border: 1px solid $color-accent;
  border-radius: 140px;
  margin-bottom: 14px;
  padding: 5px 10px;
}

.comment__user-stats span {
  @include font-settings ($ff-inter, 300, 14px, 1);
  opacity: 0.5;
}

.comment__user-stats {
  width: 100%;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  b {
    @include font-settings ($ff-inter, 600, 14px, 1);
    color: $color-accent;
    word-break: break-word;
    margin-left: 5px;
  }

  &--msg {
    b {
      background-color: #2C2C2D;
      border-radius: 10px;
      min-width: 46px;
      padding: 10px 5px;
      text-align: center;
    }
  }
}

.comment__user-contacts {
  @include font-settings ($ff-inter, 500, 14px, 1);
  width: 100%;
  background: #1E2228;
  border-radius: 10px;
  color: $color-accent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  padding: 10px;
  word-break: break-word;

  &:hover {
    color: $color-default-white;
  }

  span {
    padding-right: 11px;
  }
}

.comment__user-contacts-icon {
  min-width: 20px;
  min-height: 18px;
}

.comment__text-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.comment__post-time {
  flex-shrink: 0;
  margin-bottom: 36px;

  p {
    @include font-settings ($ff-inter, 500, 14px, 1.5);
    opacity: 0.5;
  }
}

.comment__text {
  @include font-settings ($ff-inter, 500, 14px, 1.5);
  flex-grow: 1;
  padding-right: 85px;
}

.comment__btns-block {
  min-height: 37px;
  display: flex;
  flex-shrink: 0;
  background-color: #1E2228;
  border-radius: 10px;
  justify-self: flex-end;
  justify-content: space-between;
}

.comment__btns-primary,
.comment__btns-secondary {
  display: flex;
}

.comment__btn {
  @include font-settings ($ff-inter, 500, 14px, 1);
  color: $color-accent;
  border: none;
  background-color: transparent;
  opacity: 0.8;
  padding: 5px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid #2E3136;
  }

  &:hover {
    background-color: #262832;
  }
}

.comment__btns-secondary .comment__btn {
  padding: 5px 12px;
}

.comment__btn svg {
  margin-right: 7px;
}

.comment__btn--edit {
  svg {
    color: $color-accent;
  }
}