.company-admin {
  padding-top: 33px;
}

.company-admin {
  label {
    position: relative;
  }

  .error-message {
    bottom: -23px;
  }
}

.company-admin__name {
  input {
    @include font-settings ($ff-inter, 400, 14px, 1.43);
    width: 100%;
    background-color: #262931;
    border: 1px solid #454954;
    border-radius: 6px;
    padding: 9px 12px;
    margin-bottom: 33px;
  }
}

.company-admin h3 {
  @include font-settings ($ff-inter, 400, 14px, 1.5);
  margin-bottom: 9px;
}

.company-admin__file-load {
  display: flex;

  p {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    text-align: center;
    margin-bottom: 15px;
  }

  label {
    @include font-settings ($ff-inter, 500, 16px, 1.4);
    color: $color-default-black;
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: $color-accent;
    border-radius: 5px;
    margin: 0 auto 12px;
    padding: 10px;
    cursor: pointer;
  }

  input[type=file]:focus+label {
    outline: 1px solid $color-default-white;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.company-admin__logo-load {
  margin-right: 50px;
}

.company-admin__drop-zone {
  border: 1px dashed #454954;
  border-radius: 5px;
  width: 325px;
  height: 179px;
  padding: 20px 10px;

  p {
    padding: 0 50px;
  }

  span {
    @include font-settings ($ff-inter, 400, 13px, 1.69);
    opacity: 0.5;
    font-style: italic;
    display: block;
    text-align: center;
  }

  &:hover {
    background-color: #262832;
  }
}

// EDITOR

.company-admin__edit-section {
  margin-top: 28px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.company-admin__text {
  min-width: 715px;
  margin-top: 8px;
}

.company-admin__examples {
  padding: 5px;
}

.company-admin__links {
  display: flex;
  flex-direction: column;

  input {
    @include font-settings ($ff-inter, 400, 14px, 1.43);
    width: 400px;
    height: 40px;
    background-color: #262931;
    border: 1px solid #454954;
    border-radius: 6px;
    padding: 10px 12px;
    margin-bottom: 14px;
  }
}

.company-admin__links-first-block {
  margin-bottom: 37px;
}

.company-admin {
  input {
    &:hover {
      border: 1px solid #FCCD03;
    }
  }
}

.ca-wysiwig {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ca-wysiwig__btn {
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $color-default-white;
  padding: 0;

  span {
    @include font-settings ($ff-inter, 400, 14px, 1.4);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }

  .ca-wysiwig__color {
    width: 20px;
    height: 20px;
    background-color: $color-default-white;
    border-radius: 4px;
  }
}

.company-admin__submit-btn {
  @include font-settings ($ff-inter, 500, 14px, 1);
  width: 202px;
  height: 47px;
  background-color: $color-accent;
  border: none;
  border-radius: 10px;
  color: #14161B;
  margin-top: 20px;
  margin-bottom: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-hover;
  }

  &:active {
    opacity: 0.6;
  }
}

// drag-and-drop

.company-admin__drop-zone.dragover {
  background-color: #262832;
  outline-offset: -17px;
}
