.courses-cards {
  margin-top: 20px;
  background: #1A1D24;
  border: 1px solid #2D3341;
  border-radius: 10px;
  padding: 50px 40px 38px;
}

.courses-cards__content {
  h2 {
    @include font-settings ($ff-inter, 700, 35px, 0.99);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin-bottom: 44px;
  }
}

.courses-cards__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px 40px;
}

.courses-cards__item {
  background: #262931;
  border-radius: 20px;
  padding: 28px 30px 41px 24px;

  &:hover {
    box-shadow: 0px 0px 20px rgba(10, 57, 184, 0.25);
  }

  &:active {
    opacity: 0.6;
  }
}

.courses-cards__card {
  h4 {
    @include font-settings ($ff-inter, 400, 13.5px, 1);
    display: inline-block;
    letter-spacing: 0.96px;
    color: #14161B;
    background-color: $color-accent;
    border-radius: 29px;
    padding: 5px 16px;
    margin-bottom: 14px;
  }

  span {
    @include font-settings ($ff-inter, 600, 13.5px, 1);
    letter-spacing: 0.96px;
    color: #14161B;
  }

  h3 {
    @include font-settings ($ff-inter, 700, 20px, 1.74);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  p {
    @include font-settings ($ff-inter, 400, 14px, 1.5);
    opacity: 0.5;
    margin-bottom: 18px;
  }
}

.courses-cards__tags-list {
  display: flex;
  border-bottom: 1px solid rgba(194, 194, 194, 0.2);
  margin-bottom: 27px;
}

.courses-cards__tags-item {
  letter-spacing: 0.96px;
  padding: 0 9px;
  border: 1px solid #3B3F4A;
  border-radius: 29px;
  margin-right: 12px;
  margin-bottom: 19px;

  &:hover {
    background-color: #1A1D25;
  }

  span {
    @include font-settings ($ff-inter, 400, 13px, 1);
    display: block;
    padding: 5px 0;
  }
}

.courses-cards__duration {
  span {
    @include font-settings ($ff-inter, 500, 14px, 1);
    background: #3B3F4A;
    border-radius: 10px;
    padding: 12px 11px;
    text-align: center;
    opacity: 0.5;
  }
}
