.events {
  margin-top: 20px;
  background: #1A1D24;
  border: 1px solid #2D3341;
  border-radius: 10px;
  padding: 53px 40px 73px;
}

.events__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 68px;

  h2 {
    @include font-settings ($ff-inter, 700, 35px, 1);
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
}

.events__add-btn {
  @include font-settings ($ff-inter, 500, 14px, 1);
  min-width: 190px;
  background-color: $color-accent;
  border: none;
  border-radius: 10px;
  color: $color-default-black;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 22px;
  cursor: pointer;
  margin-right: 4px;

  svg {
    fill: $color-default-black;
    margin-right: 13px;
  }

  &:hover {
    background-color: $color-accent-hover;
  }

  &:active {
    opacity: 0.6;
  }
}

.events__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
  margin-bottom: 20px;
}

.events__item {
  position: relative;
  background-color: #262931;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 20px rgba(10, 57, 184, 0.25);
  }

  &:active {
    opacity: 0.6;
  }
}

.events__date {
  position: absolute;
  width: 82px;
  height: 82px;
  background-color: #FFC600;
  border-radius: 10px;
  top: -33px;
  left: 29px;
  padding: 16px 10px 14px;
  z-index: 2;

  p {
    @include font-settings ($ff-inter, 600, 31px, 1);
    text-align: center;
    letter-spacing: 0.96px;
    color: #14161B;
    margin-bottom: 4px;
  }

  span {
    @include font-settings ($ff-inter, 600, 15px, 1);
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.96px;
    color: #14161B;
  }
}

.events__image {
  position: relative;
  width: 100%;
  height: 206px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.events__expired {
  position: absolute;
  top: 26px;
  right: 23px;
  min-width: 105px;
  height: 24px;
  background: rgba(26, 29, 37, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  svg {
    margin-right: 7px;
  }

  p {
    @include font-settings ($ff-inter, 600, 10px, 1.6);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #D1D2D3;
  }
}

.events__tags-list {
  display: flex;
  flex-wrap: wrap;
}

.events__tags-item {
  span {
    @include font-settings ($ff-inter, 400, 14px, 1);
    display: inline-block;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: #14161B;
    background-color: $color-accent;
    border-radius: 29px;
    padding: 5px 14px;
    margin-right: 7px;
    margin-bottom: 15px;
  }
}

.events__text {
  padding: 29px 20px;

  h3 {
    @include font-settings ($ff-inter, 600, 17px, 1.56);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  p {
    @include font-settings ($ff-inter, 600, 13.5px, 1);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: $color-accent;
  }
}

.events__show-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 47px;
  background-color: #262931;
  border: none;
  border-radius: 10px;
  color: $color-default-white;
  cursor: pointer;

  span {
    @include font-settings ($ff-inter, 500, 14px, 1);
  }

  svg {
    margin-right: 17px;
  }

  &:hover {
    background-color: #76777C;
    color: $color-default-white;
  }

  &:active {
    opacity: 0.5;
  }
}
