.filters {
  position: relative;
  background: #262931;
  border-radius: 20px;
  padding: 30px 20px;
  margin-bottom: 21px;

  h2 {
    @include font-settings ($ff-inter, 600, 18px, 1.56);
    text-transform: uppercase;
    margin-bottom: 13px;
  }
}

.filters__reset-btn {
  position: absolute;
  top: 35px;
  right: 17px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.filters__group {
  border-top: 1px solid rgba(194, 194, 194, 0.2);
  padding-top: 13px;

  h3 {
    @include font-settings ($ff-inter, 400, 14px, 1.1);
    opacity: 0.5;
    margin-bottom: 10px;
  }
}

.filters__search {
  position: relative;
  margin-bottom: 20px;
}

.filters__search input {
  width: 320px;
  height: 40px;
  padding-left: 30px;
  background-color: #1A1D24;
  border: 1px solid #2D3341;
  border-radius: 10px;
  color: $color-default-white;

  &:hover {
    border: 1px solid #FCCD03;
  }
}

.filters__search-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 9px;
  left: 0;
}

.filters__list {
  margin-bottom: 23px
}

.filters__item {
  @include font-settings ($ff-inter, 500, 14px, 1);
  position: relative;
  margin-bottom: 19px;
  padding-left: 30px;

  label {
    cursor: pointer;
  }
}

.filters__mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -3px;
  left: 0px;
  background: #1A1D24;
  border: 0.5px solid #2D3341;
  border-radius: 5px;
  cursor: pointer;
}

.filters__item input:checked+.filters__mark {
  &::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: $color-accent;
    border-radius: 4px;
  }
}

.filters__submit-btn {
  @include font-settings ($ff-inter, 500, 14px, 1);
  width: 100%;
  height: 47px;
  background-color: #303542;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #76777C;
    color: $color-default-white;
  }

  &:active {
    opacity: 0.5;
  }
}

// Select

.filters fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0;
}

.filters__fieldset-name {
  @include font-settings ($ff-inter, 400, 14px, 1.1);
  opacity: 0.5;
  margin-bottom: 10px;
}

// Radio

.filters__group--radio {
  .filters__mark {
    border-radius: 50%;
  }
}

.filters__item input[type="radio"]:checked+.filters__mark::after {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
}
