.header {
  background-color: #1E2228;
}

.header .container {
  padding-top: 15px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-top: 5px;

  img:hover {
    opacity: 0.6;
  }

  img {
    @include vp-767 {
      width: 127px;
      height: 20px;
    }
  }
}

.header__search {
  @include vp-767 {
    display: none;
  }
}
