.main {
  &.main-grid {
    .container {
      display: grid;
      grid-template-columns: auto 295px;
      column-gap: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &.main-block {
    .container {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}
