.news {
  margin-bottom: 28px;

  h3 {
    @include font-settings ($ff-inter, 400, 14px, 1.1);
    letter-spacing: 0.96px;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 13px;
  }
}

.news__item {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.2);
  margin-bottom: 20px;

  a {
    @include font-settings ($ff-inter, 600, 18px, 1.56);
    letter-spacing: 0.29px;

    &:hover {
      color: $color-accent;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
