.pagination {
  background-color: #1A1D24;
  border: 1px solid #2D3341;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 8px 8px;
}

.pagination__icon {
  width: 26px;
  height: 26px;

  &--last,
  &--next {
    transform: scale(-1, 1);
    fill: $color-accent;
  }
}

.pagination__link {
  @include font-settings ($ff-inter, 500, 14px, 1);
  color: $color-accent;

  &:hover,
  &:hover svg,
  &.active {
    color: $color-default-white;
    fill: $color-default-white;
  }

  span {
    padding: 0 5px;
  }

  &:not(:last-child) {
    margin-right: 4px;
  }
}
