.post {
  padding-top: 30px;
}

.post h2 {
  @include font-settings ($ff-inter, 600, 18px, 1);
  max-width: 726px;
  margin-bottom: 10px;
}

.post__info {
  display: flex;
  margin-bottom: 19px;

  p {
    @include font-settings ($ff-inter, 400, 12px, 1);
    opacity: 0.5;
    margin-right: 20px;
  }
}

.post__time {
  position: relative;
  padding-left: 25px;

  &::before {
    position: absolute;
    content: url("../img/svg/clock-icon.svg");
    top: -2px;
    left: 0;
  }
}

.post__author {
  position: relative;
  padding-left: 40px;

  &::before {
    position: absolute;
    content: url("../img/svg/user-icon.svg");
    top: 0;
    left: 20px;
  }
}

.post__author-link {
  text-decoration: underline;
}

.post__reply-btn {
  @include font-settings ($ff-inter, 500, 14px, 1);
  min-width: 190px;
  background-color: $color-accent;
  border: none;
  border-radius: 10px;
  color: $color-default-black;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-hover;
  }

  svg {
    fill: $color-default-black;
    margin-right: 5px;
  }
}

.post__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
