.updates-comments__list {
  display: flex;
  flex-direction: column;
}

.updates-comments__item {
  max-width: 730px;
  background-color: #262931;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  margin-bottom: 15px;

  &--secondary {
    max-width: 642px;
    margin-left: 90px;
  }
}

.updates-comments__likes {
  min-width: 40px;
  max-height: 100px;
  margin-right: 24px;
  background-color: #1D2028;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.updates__btn {
  @include font-settings ($ff-inter, 500, 20px, 1);
  width: 40px;
  height: 34px;
  background-color: transparent;
  border: none;
  color: $color-default-white;
  cursor: pointer;

  &--like {
    border-radius: 10px 10px 0px 0px;
  }

  &--dislike {
    border-radius: 0px 0px 10px 10px;
  }

  &:hover,
  &:active {
    background-color: #14161B;
  }

  span {
    @include font-settings ($ff-inter, 500, 16px, 1);
  }
}

.updates-comments__heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.updates-comments__author {
  display: flex;
  align-items: center;
}

.updates-comments__author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.updates-comments__author-link {
  @include font-settings ($ff-inter, 500, 16px, 1);
  margin-right: 18px;
}

.updates-comments__time {
  @include font-settings ($ff-inter, 400, 16px, 1.5);
}

.updates-comments__reply-btn {
  @include font-settings ($ff-inter, 500, 16px, 1.5);
  background-color: transparent;
  border: none;
  margin-left: auto;
  color: $color-default-white;
  cursor: pointer;

  svg {
    fill: $color-default-white;
    margin-right: 5px;
  }

  &.active {
    color: $color-accent;
  }
}

.updates-comments__reply-block {
  display: flex;
  max-width: 730px;
  background-color: #262931;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  margin-bottom: 20px;
}

.updates-comments__reply-author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.updates-comments__reply-block {
  form {
    display: flex;
  }

  textarea {
    @include font-settings ($ff-inter, 400, 16px, 1.5);
    min-width: 506px;
    min-height: 96px;
    color: $color-default-white;
    background-color: #262931;
    border: 1px solid #FFC600;
    border-radius: 8px;
    margin-right: 16px;
    padding: 10px 20px;
    caret-color: #FFC600;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.updates-comments__submit-btn {
  @include font-settings ($ff-inter, 500, 14px, 1.71);
  min-width: 104px;
  max-height: 48px;
  background: #FFFFFF;
  color: #262931;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #D1D2D3;
  }

  &:active {
    opacity: 0.6;
  }
}
