.wysiwyg {
  display: flex;
  align-items: center;
}

.wysiwyg__btn {
  background-color: transparent;
  border: none;
  margin-right: 25px;
  cursor: pointer;

  &--paperclip {
    margin-right: 80px;
  }
}
