.wysiwyg {
  display: flex;
  align-items: center;
}

.wysiwyg__btn {
  background-color: transparent;
  border: none;
  margin-right: 20px;
  cursor: pointer;

  &--paperclip {
    margin-right: 70px;
  }

  &--link {
    margin-right: 0;
  }
}
